<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
      <h2>Courses</h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        {{#each cour in model.course}} 
            {{#link-to 'admin.courses.show' cour.id tagName='div'}}       
                    <div class="col-lg-4">
                        <div class="contact-box">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <span class="fa fa-support fa-5x"></span>
                                    <div class="m-t-xs font-bold">
                                        <small class="label label-danger">{{cour.num_students}} swimmers</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong>{{cour.name}}</strong></h3>
                                <p>{{cour.category.title}}</p>
                                <p>{{cour.displayStartDate}}-{{cour.displayEndDate}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            {{/link-to}}
        {{/each}}
    </div>
</div>