<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
      <h2>Classes</h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        {{#each cour in model.course}} 
            {{#link-to 'admin.courses.show' cour.id tagName='div'}}       
                    <div class="col-lg-4">
                        <div class="contact-box">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <span><img src="assets/images/lifering.png" id="default_profile" class="img-circle circle-border m-b-md profile-img" alt="profile"></span>
                                    <div class="m-t-xs font-bold">
                                        <p>{{cour.num_students}} swimmers</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3>{{cour.name}}</h3>
                                <p>{{cour.category.title}}</p>
                                <p>{{cour.displayStartDate}}-{{cour.displayEndDate}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            {{/link-to}}
        {{/each}}
    </div>
</div>