<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Create A New Class</h2>
    </div>
</div>   

<br>
   <div class="col-lg-8">
        <div class="ibox float-e-margins course-box">
            <div class="ibox-content">
                <form method="get" class="form-horizontal">
                <h2>Class Details</h2>
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{input valueBinding="model.name" class="form-control" placeholder='Course Name' placeholder='Class Name'}}
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <div class="col-sm-12">
                        {{input valueBinding="model.categories_id" class="form-control" placeholder='Course Name' placeholder='Category'}}
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-12">
                        {{input valueBinding="model.instructor_id" class="form-control" placeholder='Course Name' placeholder='Instructor'}}
                      </div>
                    </div>
                    
                   
                    
                     
                    <div class="form-group">
                        <div class="col-sm-3"> 
                            {{input valueBinding="model.capcity" class="form-control" placeholder='Capacity'}}
                        </div>
                    </div>

                      
                    <div class="form-group">
                        <div class="col-sm-3">  
                            {{input valueBinding="model.session_cost" class="form-control" placeholder='Cost Per Class'}}
                        </div>
                    </div>
                 

{{!--                     <div class="form-group">
                        <div class="col-sm-12 course-description">
                            {{input valueBinding="model.session_cost" class="form-control" placeholder='Class Description'}}
                        </div>
                    </div> --}}

                    <div class="form-group">
                        <div class="col-sm-12">
                            <a class="btn btn-default" {{action 'createCourse' class="btn btn-primary"}}>Create</a>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    {{!-- <div class="col-lg-4" id="profile">
            <div class="widget-head-color-box navy-bg p-lg text-center">
                <div class="m-b-md">
                <h2 class="font-bold no-margins">
                   {{model.first_name}} {{model.last_name}}
                </h2>
                {{#if model.birthday}}
                    <small>{{model.birthday}}</small>
                {{/if}}
                </div>
                <img src="assets/images/avatar-m.png" id="default_profile" class="img-circle circle-border m-b-md" alt="profile">

                <ul class="list-unstyled m-t-md">
                {{#if model.email}}
                <li>
                    <span class="fa fa-envelope m-r-xs"></span>
                    <label>Email:</label>
                    {{model.email}}
                </li>
                {{/if}}
                {{#if model.a_number}}
                <li>
                    <span class="fa fa-home m-r-xs"></span>
                    <label>Address:</label>
                    {{#if model.a_unit}}#{{model.a_unit}}-{{/if}}{{model.a_number}}, {{a_street}}
                    {{#if model.a_city}}<br> {{model.a_city}}, B.C. {{/if}} - {{model.a_postal}}
                </li>
                {{/if}}
                {{#if model.phone}}
                <li>
                    <span class="fa fa-phone m-r-xs"></span>
                    <label>Contact:</label>
                    {{model.phone}}
                    {{#if model.phone_alternate}}
                      <br><span class="fa fa-phone m-r-xs"></span>
                      <label>Alternate:</label>{{model.phone_alternate}}
                    {{/if}}
                </li>
                {{/if}}
            </ul>
            </div>
            {{#if model.notes}}
            <div class="widget-text-box">
                <h4 class="media-heading">Notes:</h4>
                <p>{{model.notes}}</p>
            </div>
            {{/if}}
    </div> --}}






