<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="course-box profile-main">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <img src="assets/images/a1.jpg" id="default_profile" class="img-circle circle-border m-b-md" alt="profile">
                </div>
                <div class="col-sm-8">

                    <ul class="list-unstyled m-t-md">
                    <h2>{{model.client.first_name}} {{model.client.last_name}}</h2>
                    <p>{{model.client.birthday}}</p>
                        {{#if model.client.email}}
                        <li>
                            <span class="fa fa-envelope m-r-xs"></span>
                            <label>Email: </label>
                            {{model.client.email}}
                        </li>
                        {{/if}}
                        {{#if model.client.a_number}}
                        <li>
                            <span class="fa fa-home m-r-xs"></span>
                            <label>Address: </label>
                            {{#if model.client.a_unit}}#{{model.client.a_unit}}-{{/if}}{{model.client.a_number}}, {{a_street}}
                            {{#if model.client.a_city}} {{model.client.a_city}}, BC {{/if}} {{model.client.a_postal}}
                        </li>
                        {{/if}}
                        {{#if model.client.phone}}
                        <li>
                            <span class="fa fa-phone m-r-xs"></span>
                            <label>Contact: </label>
                            {{model.client.phone}}
                            {{#if model.client.phone_alternate}}
                              <br><span class="fa fa-phone m-r-xs"></span>
                              <label>Alternate:  </label>{{model.client.phone_alternate}}
                            {{/if}}
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
        {{#each dep in model.client.dependants}}  
                    {{#link-to 'admin.dependants.show' dep.id tagName='div'}}       
                        <div class="row">
                            <div class="">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-plus-square-o"></i>
                                    </div>
                                    <div class="col-xs-3 text-right">
                                        <span>Age: {{dep.age}} </span>
                                        <h2 class="font-bold">{{dep.first_name}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    {{/link-to}}                               
                {{/each}}
        {{#if model.client.notes}}
        <h4>Notes:</h4>
        <p>{{model.client.notes}}</p>
        {{/if}}
    </div>


     <div class="row">
        <div class="col-sm-12">
            <div class="course-box">
                <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>{{model.client.first_name}}'s Lessons</h3>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-5 m-b-xs"><select class="input-sm form-control input-s-sm inline">
                            <option value="0">Option 1</option>
                            <option value="1">Option 2</option>
                            <option value="2">Option 3</option>
                            <option value="3">Option 4</option>
                        </select>
                        </div>
                        <div class="col-sm-4 m-b-xs">
                            <div data-toggle="buttons" class="btn-group">
                                <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Day </label>
                                <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Week </label>
                                <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Month </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>

                                <th></th>
                                <th>Name</th>
                                <th>Start - End</th>
                                <th>Course Duration</th>
                                <th>Capacity</th>
                                <th>Full</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each ev in model.client.events}}
                            <tr>
                                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" checked="" class="i-checks" name="input[]" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div></td>

                                <td><small>{{ev.course.name}}</small></td>

                                <td>
                                    {{#link-to 'admin.courses.show' ev.course.id}}{{course.name}}{{/link-to}}
                                </td>
                                 <td>{{ev.duration}}h</td>

                                <td>0/{{ev.course.capacity}}</td>
                                <td></td>

                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>

                           {{/each}}                                
                            
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>