<div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">


                <div class="col-lg-4" id="profile">
                        <div class="widget-head-color-box navy-bg p-lg text-center">
                            <div class="m-b-md">
                            <h2 class="font-bold no-margins">
                               {{model.category.title}}
                            </h2>
                                <small>{{model.category.birthday}}</small>
                            </div>

                            <div id="defaul_profile" class="img-circle circle-border m-b-md">
                            <span class="fa fa-star fa-5x"></span></div>

                            <ul class="list-unstyled m-t-md">
                            {{#if model.category.email}}
                            <li>
                                <span class="fa fa-envelope m-r-xs"></span>
                                <label>Email:</label>
                                {{model.category.email}}
                            </li>
                            {{/if}}
                            {{#if model.category.a_number}}
                            <li>
                                <span class="fa fa-home m-r-xs"></span>
                                <label>Address:</label>
                                {{#if model.category.a_unit}}#{{model.category.a_unit}}-{{/if}}{{model.category.a_number}}, {{a_street}}
                                {{#if model.category.a_city}}<br> {{model.category.a_city}}, B.C. {{/if}} - {{model.category.a_postal}}
                            </li>
                            {{/if}}
                            {{#if model.category.phone}}
                            <li>
                                <span class="fa fa-phone m-r-xs"></span>
                                <label>Contact:</label>
                                {{model.category.phone}}
                                {{#if model.category.phone_alternate}}
                                  <br><span class="fa fa-phone m-r-xs"></span>
                                  <label>Alternate:</label>{{model.category.phone_alternate}}
                                {{/if}}
                            </li>
                            {{/if}}
                        </ul>
                        </div>
                        {{#if model.category.description}}
                        <div class="widget-text-box">
                            <h4 class="media-heading">About:</h4>
                            <p>{{model.category.description}}</p>
                        </div>
                        {{/if}}
                </div>

                <div class="col-lg-4">
                    <div class="widget style1 navy-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-dollar fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Revenue from category </span>
                                <h2 class="font-bold">$325</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Lessons in {{model.category.title}} </span>
                            <h2 class="font-bold">{{model.category.courseCount}}</h2>
                        </div>
                    </div>
                </div>
            </div>

                <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h3>{{model.category.title}}</h3>

                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-5 m-b-xs"><select class="input-sm form-control input-s-sm inline">
                                    <option value="0">Option 1</option>
                                    <option value="1">Option 2</option>
                                    <option value="2">Option 3</option>
                                    <option value="3">Option 4</option>
                                </select>
                                </div>
                                <div class="col-sm-4 m-b-xs">
                                    <div data-toggle="buttons" class="btn-group">
                                        <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Day </label>
                                        <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Week </label>
                                        <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Month </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>

                                        <th></th>
                                        <th>Course</th>
                                        <th></th>
                                        <th>Capacity</th>
                                        <th>Start - End</th>
                                        <th>Full</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each cour in model.category.courses}}
                                    <tr>
                                        <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" checked="" class="i-checks" name="input[]" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div></td>

                                        <td><small>{{#link-to 'admin.courses.show' cour.id }}{{cour.name}}{{/link-to}}</small></td>

                                        <td></td>

                                        <td>{{cour.spotsFilled}}/{{cour.capacity}}</td>
                                        <td></td>

                                        <td>{{#if cour.atCapacity}}<a href="#"><i class="fa fa-check text-navy"></i></a>{{/if}}</td>
                                    </tr>

                                   {{/each}}                                
                                    
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
              

            </div>

            </div>


        </div>
