<h1> Edit a User </h1>


{{input valueBinding="model.first_name"}}
{{input valueBinding="model.last_name"}}
{{input valueBinding="model.email"}}



<button {{action 'saveUser'}}>Save</button>
<button {{action 'destroyUser'}}>Destroy</button>