<div class="row  border-bottom white-bg dashboard-header">

        <div class="col-sm-3">
            <h2>Your account</h2>
            <div class="list-group clear-list m-t">
              <div clas="row">
                <div class=".col-xs-4"><h3>Frist Name</h3></div>
                <div class=".col-xs-4">{{model.first_name}}</div>
              </div>
              <div clas="row">
                <div class=".col-xs-4"><h3>Last Name</h3></div>
                <div class=".col-xs-4">{{model.last_name}}</div>
              </div>
            </div>
            <div clas="row">
                <div class=".col-xs-4"><h3>Birth Date</h3></div>
                <div class=".col-xs-4">{{model.birthday}}</div>
            </div>
            <div clas="row">
                <div class=".col-xs-4"><h3>Email</h3></div>
                <div class=".col-xs-4">{{model.email}}</div>
            </div>
            <div clas="row">
                <div class=".col-xs-4"><h3>Address</h3></div>
                <div class=".col-xs-4">{{model.address}}</div>
            </div>
            <div clas="row">
                <div class=".col-xs-4"><h3>Phone Number</h3></div>
                <div class=".col-xs-4">{{model.phone}}</div>
            </div>
            <div clas="row">
                <div class=".col-xs-4"><h3>Alternate Phone Number</h3></div>
                <div class=".col-xs-4">{{model.phone_alternate}}</div>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
</div>