<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Lessons you're registered in</h2>
  </div>
</div>

<div id="lessons-container" class="container">
  <div class="row">
  {{#each course in client.courses}}
      <div class="col-sm-4">
        <div class="lesson-box">
          <div class="lesson-box-name">{{course.name}}</div>
          <div class="lesson-box-description">{{course.description}}</div>
          <div class="lesson-date-span">{{course.displayStartDate}} - {{course.displayEndDate}}</div>
          <div class="lesson-price">${{course.session_cost}}</div>
        </div>
      </div>
  {{/each}}  
  </div>

</div>