<div class="lessons-bg">
<div class="row" >
  <div id="lessons-container" class="container">
    <div class="row">
    <h2>Browse our lessons</h2>
      {{#each course in model.courses}}
      {{#link-to 'app.lessons.show' course.id tagName='div'}}  
      <div class="col-sm-4" style="padding-top: 15px">
        <div class="lesson-box">
          <div class="lesson-box-name">{{course.category.title}}</div>
          <div class="lesson-box-description">{{course.name}}</div>
          <div class="lesson-date-span">{{course.startDate}} - {{course.endDate}}</div>
          <br>
          <div class="lesson-price">${{course.session_cost}} / class</div><br>
           
           {{#if course.inCart}}
              <a class="btn btn-default" {{action "removeFromCart" course bubbles=false class="btn btn-default"}}>remove from cart</a>
           {{else}}
              <a class="btn btn-default" {{action "addToCart" course bubbles=false class="btn btn-default"}}>add to cart</a>
           {{/if}}

        </div>
      </div>
      {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>

  <div id="cart">
    <h2 class="col-sm-12">Review & Register</h2>
    <div class="row">
        {{#each course in model.courses}}
          {{#if course.inCart}}
            <div id="cartClass" class="col-lg-3">
                <div class="cart-box">
                <div class="closeContact cart" {{action "removeFromCart" course bubbles=false}}>X</div>
                    <div class="col-sm-4 cart">
                        <div class="text-center">
                          <span class="fa fa-support fa-5x"></span>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>{{course.name}}</strong></h3>
                     <p> Start Date: {{course.displayStartDate}} </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
          {{/if}}
        {{/each}}

      <a class="btn btn-default cart-button" {{action "contractCart"}}>close</a>
      <a id="checkout" class="btn btn-default cart-button" {{action "expandCart"}}>checkout</a>
    </div>  
<br>

<!-- registration form -->
    <div class="row">
      <div id="registrationContainer" class="wrapper wrapper-content animated fadeInRight">
    
      <div class="col-lg-2"></div>
         <div class="col-lg-8">
      <div class="ibox float-e-margins">
          <div id="registrationFormClient" class="ibox-content">
              <form method="get" class="form-horizontal">
                  <legend>Register</legend>
                  <div class="form-group">
                      <div class="col-sm-6">
                        {{input valueBinding="model.first_name" class="form-control" placeholder='First Name'  placeholder='First Name'}}
                      </div>
                      <div class="col-sm-6">
                        {{ input valueBinding="model.last_name" class="form-control" placeholder='Last Name'}}
                      </div>
                  </div>


          
                  <div class="form-group">
                      <div class="col-sm-6">
                      <label class="col-sm-6 control-label">Birthday</label>
                        {{date-picker date=mydate valueFormat='YYYY-MM-DD' valueBinding="model.birthday" class="col-sm-6"}}
                      </div>
                      <div class="col-sm-6">
                        {{input valueBinding="model.email" class="form-control" placeholder='Email'}}
                      </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-6">
                      {{input valueBinding="model.phone" class="form-control" placeholder='Phone'}}
                    </div>
                    <div class="col-sm-6">
                      {{input valueBinding="model.phone_alternate" class="form-control" placeholder='Alternate Phone'}}
                    </div>
                  </div>

                  



                  <div class="form-group">

                      <div class="col-sm-12"> 
                      </div>
                  </div>

                  <label class="col-sm-2 control-label">Address</label>
                   <div class="form-group">

                      <div class="col-sm-12">
                          <div class="row">
                              <div class="col-md-2">
                                {{input valueBinding="model.a_unit" class="form-control" placeholder='Unit'}}
                              </div>
                              <div class="col-md-3">
                                {{input valueBinding="model.a_number" class="form-control" placeholder='Number'}}
                              </div>
                              <div class="col-md-7">
                                {{input valueBinding="model.a_street" class="form-control" placeholder='Street / Avenue'}}
                              </div>
                          </div>
                      </div>
                  </div>
                 
                  <div class="form-group">
                      <div class="col-sm-6">                                    
                        {{input valueBinding="model.a_city" class="form-control" placeholder="City"}}
                      </div>
                      <div class="col-sm-6">                                    
                        {{input valueBinding="model.a_postal" class="form-control" placeholder='Postal Code'}}
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="col-sm-12 col-sm-12">
                          <a class="btn btn-default cart-button" {{action 'registerClient' class="btn btn-primary"}}>Next</a>
                          
                      </div>
                  </div>
              </form>
          </div>

<!-- dependant -->

          <div id="registrationFormDependant" class="ibox-content">
              <form method="get" class="form-horizontal">
                  <legend>Register a dependant</legend>
                  <div class="form-group">
                      <div class="col-sm-6">
                        {{input valueBinding="model.first_name" class="form-control" placeholder='First Name'  placeholder="Swimmer's First Name"}}
                      </div>
                      <div class="col-sm-6">
                        {{ input valueBinding="model.last_name" class="form-control" placeholder='Swimmers Last Name'}}
                      </div>
                  </div>


          
                  <div class="form-group">
                      <div class="col-sm-6">
                      <label class="col-sm-6 control-label">Birthday</label>
                        {{date-picker date=mydate valueFormat='YYYY-MM-DD' valueBinding="model.birthday" class="col-sm-6"}}
                      </div>
                      <div class="col-sm-6">
                        {{input valueBinding="model.email" class="form-control" placeholder='Gender'}}
                      </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-6">
                      {{input valueBinding="model.phone" class="form-control" placeholder='Phone'}}
                    </div>
                    <div class="col-sm-6">
                      {{input valueBinding="model.phone_alternate" class="form-control" placeholder='Alternate Phone'}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      {{input valueBinding="model.phone" class="form-control" placeholder='Notes'}}
                    </div>
                  </div>
                  



                 <!--  <div class="form-group">

                      <div class="col-sm-12">
                     
                      {{view "select" content=names valueBinding="model.gender"  class="col-sm-12" }}
                      </div> -->
<!--                   </div>
                  <label class="col-sm-2 control-label">Address</label>
                   <div class="form-group"> -->

<!--                       <div class="col-sm-12">
                          <div class="row">
                              <div class="col-md-2">
                                {{input valueBinding="model.a_unit" class="form-control" placeholder='Unit'}}
                              </div>
                              <div class="col-md-3">
                                {{input valueBinding="model.a_number" class="form-control" placeholder='Number'}}
                              </div>
                              <div class="col-md-7">
                                {{input valueBinding="model.a_street" class="form-control" placeholder='Street / Avenue'}}
                              </div>
                          </div>
                      </div> -->
               <!--    </div> -->
                 
<!--                   <div class="form-group">
                      <div class="col-sm-6">                                    
                        {{input valueBinding="model.a_city" class="form-control" placeholder="City"}}
                      </div>
                      <div class="col-sm-6">                                    
                        {{input valueBinding="model.a_postal" class="form-control" placeholder='Postal Code'}}
                      </div>
                  </div> -->

                  <div class="form-group">
                      <div class="col-sm-12 col-sm-12">
                          <a class="btn btn-default cart-button" {{action 'registerDependant' class="btn btn-primary"}}>Next</a>
                          
                      </div>
                  </div>
              </form>
          </div>



<!--payment -->


           <div id="registrationFormPayment" class="ibox-content">

<form class="form-horizontal" role="form">
    <fieldset>
      <legend>Payment</legend>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-number">Card Number</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-xs-3">
              <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
                <option>Month</option>
                <option value="01">Jan (01)</option>
                <option value="02">Feb (02)</option>
                <option value="03">Mar (03)</option>
                <option value="04">Apr (04)</option>
                <option value="05">May (05)</option>
                <option value="06">June (06)</option>
                <option value="07">July (07)</option>
                <option value="08">Aug (08)</option>
                <option value="09">Sep (09)</option>
                <option value="10">Oct (10)</option>
                <option value="11">Nov (11)</option>
                <option value="12">Dec (12)</option>
              </select>
            </div>
            <div class="col-xs-3">
              <select class="form-control" name="expiry-year">
                <option value="13">2013</option>
                <option value="14">2014</option>
                <option value="15">2015</option>
                <option value="16">2016</option>
                <option value="17">2017</option>
                <option value="18">2018</option>
                <option value="19">2019</option>
                <option value="20">2020</option>
                <option value="21">2021</option>
                <option value="22">2022</option>
                <option value="23">2023</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code">
        </div>
      </div>
      <!-- <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button  type="button" class="btn btn-success">Pay Now</button>
        </div>
      </div> -->
    </fieldset>
  </form>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        <a class="btn btn-default cart-button" {{action 'thankYou' class="btn btn-success"}}>Pay Now</a>
        
    </div>
</div>

<!--             <form method="get" class="form-horizontal"></form>








              <div class="form-group">
                <div class='row'>
                  <div class="col-sm-6">
                    Processed by: <img src="http://upload.wikimedia.org/wikipedia/commons/a/a4/Paypal_2014_logo.png" width='50px'>
                  </div>
                  <div class="col-sm-6">
                    {{input valueBinding="model.first_name" class="form-control" placeholder='First Name'  placeholder="Payment"}}
                  </div>
                </div>
              </div>

                              <div class="form-group">
                <div class='row'>
                  <div class="col-sm-6">
                    {{input valueBinding="model.first_name" class="form-control" placeholder='First Name'  placeholder="First Name"}}
                  </div>
                  <div class="col-sm-6">
                    {{input valueBinding="model.first_name" class="form-control" placeholder='First Name'  placeholder="Last Name"}}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class='row'>
                  <div class="col-sm-6">
                    {{input valueBinding="model.first_name" class="form-control" placeholder='First Name'  placeholder="Credit Card Number"}}
                  </div>
                  <div class="col-sm-6">
                    {{input valueBinding="model.first_name" class="form-control" placeholder='First Name'  placeholder="Address Line"}}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class='row'>
                  <div class="col-sm-6">
                    {{input valueBinding="model.first_name" class="form-control" placeholder='First Name'  placeholder="Postal Code"}}
                  </div>
                  <div class="col-sm-6">
                    {{input valueBinding="model.first_name" class="form-control" placeholder='First Name'  placeholder="Home Telephone"}}
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class='row'>
                  <div class="col-sm-6">
                    {{input valueBinding="model.first_name" class="form-control" placeholder='First Name'  placeholder="Payment"}}
                  </div>
                  <div class="col-sm-6">
                    {{input valueBinding="model.first_name" class="form-control" placeholder='First Name'  placeholder="Payment"}}
                  </div>
                </div>
              </div> -->
                    
            </div>

          
           <!-- <div class="form-group">
                      <div class="col-sm-6">
                      <label class="col-sm-6 control-label">Birthday</label>
                        {{date-picker date=mydate valueFormat='YYYY-MM-DD' valueBinding="model.birthday" class="col-sm-6"}}
                      </div>
                      <div class="col-sm-6">
                        {{input valueBinding="model.email" class="form-control" placeholder='Email'}}
                      </div> 
                  </div> -->

              <!--<div class="form-group">
                    <div class="col-sm-6">
                      {{input valueBinding="model.phone" class="form-control" placeholder='Phone'}}
                    </div>
                    <div class="col-sm-6">
                      {{input valueBinding="model.phone_alternate" class="form-control" placeholder='Alternate Phone'}}
                    </div>
                  </div> -->

                  



<!--              <div class="form-group">

                      <div class="col-sm-12">
                     
                      {{view "select" content=names valueBinding="model.gender"  class="col-sm-12" }}
                      </div>
                  </div>
 -->
<!--                   <label class="col-sm-2 control-label">Address</label>
                   <div class="form-group">

                      <div class="col-sm-12">
                          <div class="row">
                              <div class="col-md-2">
                                {{input valueBinding="model.a_unit" class="form-control" placeholder='Unit'}}
                              </div>
                              <div class="col-md-3">
                                {{input valueBinding="model.a_number" class="form-control" placeholder='Number'}}
                              </div>
                              <div class="col-md-7">
                                {{input valueBinding="model.a_street" class="form-control" placeholder='Street / Avenue'}}
                              </div>
                          </div>
                      </div>
                  </div>
                 
                  <div class="form-group">
                      <div class="col-sm-6">                                    
                        {{input valueBinding="model.a_city" class="form-control" placeholder="City"}}
                      </div>
                      <div class="col-sm-6">                                    
                        {{input valueBinding="model.a_postal" class="form-control" placeholder='Postal Code'}}
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="col-sm-12 col-sm-offset-1">
                          <button {{action 'thankYou' class="btn btn-primary"}}>Next</button>
                          
                      </div>
                  </div>
              </form>
          </div>
 -->

          <!-- thank you -->




            <div id="registrationFormThankyou" class="ibox-content">
            <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
            <div class="row">
            <h2 id="center">Registration Success!</h2>
            </div>
            <div class="row">
            <a class="btn btn-default leave-button">{{#link-to 'app.client.index'}}Go to Profile{{/link-to}}</a>
            </div>
            </div>
            <div class="col-sm-2"></div>
            </div>
            </div>

      </div>
  </div>






      </div>
    </div>
<!-- registration form end -->
  </div>
</div>
