
<div class="row" >
  <div id="lessons-container" class="container">
    <div class="row">
      {{#each course in model.courses}}
      {{#link-to 'app.lessons.show' course.id tagName='div'}}  
      <div class="col-sm-4" style="padding-top: 15px">
        <div class="lesson-box">
          <div class="lesson-box-name">{{course.category.title}}</div>
          <div class="lesson-box-description">{{course.name}}</div>
          <div class="lesson-date-span">{{course.startDate}} - {{course.endDate}}</div>
          <br>
          <div class="lesson-price">${{course.session_cost}} / class</div><br>
           <div class="lesson-price">{{course.inCart}}</div>
           {{#if course.inCart}}
              <button {{action "removeFromCart" course bubbles=false class="btn btn-primary"}}>remove from cart</button>
           {{else}}
              <button {{action "addToCart" course bubbles=false class="btn btn-primary"}}>add to cart</button>
           {{/if}}
          
        </div>
      </div>
      {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>

<div id="cart" class="row">
  <h2>Your Courses</h2>

      {{#each course in model.courses}}
        {{#if course.inCart}}
    <div id="cartClass" class="col-lg-2">
        <div class="contact-box">
        <div class="closeContact cart" {{action "removeFromCart" course bubbles=false}}>X</div>
            <div class="col-sm-4 cart">
                <div class="text-center">
                  <span class="fa fa-support fa-5x"></span>
                </div>
            </div>
            <div class="col-sm-8">
                <h3><strong>{{course.name}}</strong></h3>
                <p> Start Date: {{course.startDate}} </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    {{/if}}
    {{/each}}
  </div>