
<h1>admin index</h1>
<ul>
  {{#each client in model}}
    <li>{{client.first_name}} {{client.last_name}}</li>
  {{/each}}
</ul>
<!-- {{ember-chart type='Line' data=model.chartData width=200 height=200}} -->



!{{#each dash in model.dashboards}}



<div class='row'>

    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <!-- <span class="label label-success pull-right">Monthly</span> -->
                <h5>Revenue</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">${{dash.total_revenue}}</h1>
                <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
                <small>Total</small>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <!-- <span class="label label-success pull-right">Monthly</span> -->
                <h5>Number of Registration</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{dash.num_registrations}}</h1>
                <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
                <small>Total</small>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <!-- <span class="label label-success pull-right">Monthly</span> -->
                <h5>Capacity/ocupation</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{dash.capacity_ratio}}</h1>
                <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
                <small>Ratio</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <!-- <span class="label label-success pull-right">Monthly</span> -->
                <h5>Number of Students</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{dash.num_students}}</h1>
                <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
                <small>total</small>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class='col-xs-7'>
        <div class="ibox float-e-margins">
      <div class="ibox-title">
          <h5>Revenue/Categories</h5>

      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-6">

            {{ember-chart type='Bar' data=dash.chart1 width=520 height=200em}}

        </div>
        </div>
        </div>
        <div class="ibox float-e-margins">
  <div class="ibox-title">
      <h5>Registrations/Month</h5>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-6">
        {{ember-chart type='Line' data=dash.chart2 width=520 height=200}}
    </div>
        </div>
        </div>

     </div>
        </div>
    </div>
<div class="col-lg-5">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Timeline</h5>
            <span class="label label-primary">New Registrations</span>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">Config option 1</a>
                    </li>
                    <li><a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content inspinia-timeline">
            {{#each registration in  dash.last_registrations}}

            <div class="timeline-item">
                <div class="row">
                    <div class="col-xs-3 date">
                        <i class="fa fa-file-text"></i>
                        <!--  {{registration.[3]}} -->
                        <br>
                        <small class="text-navy">{{registration.[2]}}</small>
                    </div>
                    <div class="col-xs-7 content">
                        <p class="m-b-xs"><strong>Course: {{registration.[0]}}</strong></p>
                        <p>Client: {{registration.[1]}}</p>
                    </div>
                </div>
            </div>

            {{/each}}    
        </div>        
    </div>
</div>
</div>
{{/each}}
