<div class="jumbotron jumbotron-gruddy">
  <div id="jumb-box-inner"class="col-lg-6 col-centered">
    <h1 class="uppercase">Fun, Familiar & Safe</h1>
  </div>
</div>
<div class="grey-div-container">
  <h3 class="uppercase"> Find classes that suit your needs</h3>
  <div id="lessons-container" class="container">
    <div class="row">


{{#each course in model.courses}}
    {{#link-to 'app.lessons.show' course.id tagName='div'}}  
      <div class="col-sm-4">
        <div class="lesson-box">
          <div class="lesson-box-name">{{course.name}}</div>
          <div class="lesson-box-description">{{course.category.title}}.</div>
          <div class="lesson-date-span">{{course.startDate}} - {{course.endDate}}</div>
          <div class="lesson-price">${{course.session_cost}}</div>
        </div>
      </div>
      {{/link-to}}
{{/each}}



    </div>
    <div class="center-button">
      {{#link-to 'app.lessons'}}<a class="btn btn-default">BROWSE MORE CLASSES</a>{{/link-to}}
    </div>
  </div>
</div>

<div class="teal-div-container">
  <div id="register-container" class="container">
    <div class="row brand-details">
      <div class="col-sm-6">
        <h1 class="uppercase">Local</h1>
        <p>Free of distraction and crowds, you can enjoy the results of focused swim lessons while hanging out at our home and enjoying free coffee.</p>
      </div>

      <div class="col-sm-6">
        <h1 class="uppercase">Progressive</h1>
        <p>Our classes run weekly over the course of 10 weeks and we change our intruction based on child needs and level of progess.</p> 
      </div>
    </div>

    <div class="row brand-details">
      <div class="col-sm-6">
        <h1 class="uppercase">Certified</h1>
        <p>Curriculum is Red Cross Equivalent. Taught by experienced, certified lifeguards, pick-up right where you left off in the Red Cross swim program.</p>
      </div>

      <div class="col-sm-6">
        <h1 class="uppercase">Familar</h1>
        <p>Up to 50% smaller than public or YMCA, our max capacity is 5 swimmers. Individualized attention creates faster results!</p>
      </div>
    </div>

  </div>
</div>
<div class="white-div-container">
  <div id="register-container" class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="feature-icons"><img src="/assets/images/basic_magic_mouse.png" alt="click icon">
          <h1 class="features">Effortlessly sign up with one click.</h1></div>
        </div>
        <div class="col-sm-4">
          <div class="feature-icons"><img src="/assets/images/basic_calendar.png" alt="schedule icon"><h1 class="features">Conveniently keep track of all schedules</h1></div>
        </div>
        <div class="col-sm-4">
          <div class="feature-icons"><img src="/assets/images/basic_message.png" alt="communicate icon"><h1 class="features">Easily communicate with insturctors</h1></div>
        </div>
      </div>
    </div>
  </div> --}}


  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content">
      <h2>
        Registration Form
      </h2>
      <p>
        Please review your courses and register.
      </p>

      <form id="form" action="#" class="wizard-big wizard clearfix" role="application" novalidate="novalidate"><div class="steps clearfix"><ul role="tablist"><li role="tab" class="btn btn-default" aria-disabled="false" aria-selected="true"><a id="form-t-0" href="#form-h-0" aria-controls="form-p-0"><span class="current-info audible">current step: </span><span class="number">1.</span> Review</a></li><li role="tab" class="btn btn-default" aria-disabled="true"><a id="form-t-1" href="#form-h-1" aria-controls="form-p-1"><span class="number">2.</span> Register</a></li><li role="tab" class="btn btn-default" aria-disabled="true"><a id="form-t-2" href="#form-h-2" aria-controls="form-p-2"><span class="number">3.</span> Payment</a></li><li role="tab" class="btn btn-default last" aria-disabled="true"><a id="form-t-3" href="#form-h-3" aria-controls="form-p-3"><span class="number">4.</span> Submit</a></li></ul></div><div class="content clearfix bg-box">
        

        <h1 id="form-h-0" tabindex="-1" class="title current">Review</h1>
        <fieldset id="form-p-0" role="tabpanel" aria-labelledby="form-h-0" class="body current" aria-hidden="true">
          <h2>Please Review your course selection</h2>
          
        </fieldset>



        <h1 id="form-h-1" tabindex="-1" class="title">Register</h1>
        <fieldset id="form-p-1" role="tabpanel" aria-labelledby="form-h-1" class="body" aria-hidden="true" style="display: none;">
          <h2>Registration Information</h2>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>First Name *</label>
                <label id="userName-error" class="error" for="userName" style="display: none;"></label><input id="userName" name="userName" type="text" class="form-control required valid" aria-required="true" aria-invalid="false">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Last Name *</label>
                <label id="userName-error" class="error" for="userName" style="display: none;"></label><input id="userName" name="userName" type="text" class="form-control required valid" aria-required="true" aria-invalid="false">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Birthdate *</label>
                <label id="userName-error" class="error" for="userName" style="display: none;"></label><input id="userName" name="userName" type="text" class="form-control required valid" aria-required="true" aria-invalid="false">
              </div>
            </div>
            
            <div class="col-lg-6">
              <div class="form-group">
                <label>Gender *</label>
                <label id="userName-error" class="error" for="userName" style="display: none;"></label><input id="userName" name="userName" type="text" class="form-control required valid" aria-required="true" aria-invalid="false">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>First Name *</label>
                <label id="userName-error" class="error" for="userName" style="display: none;"></label><input id="userName" name="userName" type="text" class="form-control required valid" aria-required="true" aria-invalid="false">
              </div>
            </div>
            

            <div class="col-lg-6">
              <div class="form-group">
                <label>Address *</label>
                <label id="userName-error" class="error" for="userName" style="display: none;"></label><input id="userName" name="userName" type="text" class="form-control required valid" aria-required="true" aria-invalid="false">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Phone Number *</label>
                <label id="userName-error" class="error" for="userName" style="display: none;"></label><input id="userName" name="userName" type="text" class="form-control required valid" aria-required="true" aria-invalid="false">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Alternate Phone Number *</label>
                <label id="userName-error" class="error" for="userName" style="display: none;"></label><input id="userName" name="userName" type="text" class="form-control required valid" aria-required="true" aria-invalid="false">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Password *</label>
                <label id="password-error" class="error" for="password" style="display: none;"></label><input id="password" name="password" type="text" class="form-control required valid" aria-required="true" aria-invalid="false">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Confirm Password *</label>
                <label id="confirm-error" class="error" for="confirm">Please enter the same value again.</label><input id="confirm" name="confirm" type="text" class="form-control required error" aria-required="true" aria-invalid="true">
              </div>
            </div>
          </div>
          

          <div class="col-lg-4">
            <div class="text-center">
              <div style="margin-top: 20px">
                <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
              </div>
            </div>
          </div>
        </fieldset>

        <h1 id="form-h-2" tabindex="-1" class="title">Payment</h1>
        <fieldset id="form-p-2" role="tabpanel" aria-labelledby="form-h-2" class="body" aria-hidden="true" style="display: none;">
          <h2>Payment Information</h2>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>First Name *</label>
                <label id="userName-error" class="error" for="userName" style="display: none;"></label><input id="userName" name="userName" type="text" class="form-control required valid" aria-required="true" aria-invalid="false">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Last Name *</label>
                <label id="userName-error" class="error" for="userName" style="display: none;"></label><input id="userName" name="userName" type="text" class="form-control required valid" aria-required="true" aria-invalid="false">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label>Credit Card Number*</label>
                <label id="userName-error" class="error" for="userName" style="display: none;"></label><input id="userName" name="userName" type="text" class="form-control required valid" aria-required="true" aria-invalid="false">
              </div>
            </div>
            
            <div class="col-lg-4">
              <div class="form-group">
                <label>Security Code *</label>
                <label id="userName-error" class="error" for="userName" style="display: none;"></label><input id="userName" name="userName" type="text" class="form-control required valid" aria-required="true" aria-invalid="false">
              </div>
            </div>
            

            <div class="col-lg-4">
              <div class="form-group">
                <label>Expiry Date *</label>
                <label id="userName-error" class="error" for="userName" style="display: none;"></label><input id="userName" name="userName" type="text" class="form-control required valid" aria-required="true" aria-invalid="false">
              </div>
            </div>
          </div>
          

          <div class="col-lg-4">
            <div class="text-center">
              <div style="margin-top: 20px">
                <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
              </div>
            </div>
          </div>
        </fieldset>

        <h1 id="form-h-3" tabindex="-1" class="title">Submit</h1>
        <fieldset id="form-p-3" role="tabpanel" aria-labelledby="form-h-3" class="body" aria-hidden="true" style="display: none;">
          <h2>Terms and Conditions</h2>
          <label id="acceptTerms-error" class="error" for="acceptTerms" style="display: inline-block;">This field is required.</label><input id="acceptTerms" name="acceptTerms" type="checkbox" class="required error" aria-required="true"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
        </fieldset>
      </div><div class="actions clearfix"><ul role="menu" aria-label="Pagination"><li class="disabled" aria-disabled="true"><a href="#previous" role="menuitem">Previous</a></li><li aria-hidden="false" aria-disabled="false"><a href="#next" role="menuitem">Next</a></li><li aria-hidden="false"><a href="#finish" role="menuitem">Submit</a></li><li><a href="#cancel" role="menuitem">Cancel</a></li></ul></div></form>
    </div>
  </div>
